body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.0625rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#img-avatar {
  border-radius: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #img-avatar {
    width: 80px;
  }
}

#signature {
  width: 50%;
  height: 90%;
}

.bottom__border {
  border-bottom: 3px solid rgba(8, 8, 182, 0.527);
  width: 40%;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  max-width: 1024px;
  padding: 80px 30px;
  width: 100%;
}

.header {
  display: flex;
  margin-bottom: 80px;
}

.header__section--menu {
  align-self: center;
  width: 100%;
}

.menu__item.menu__item {
  border: none;
}

.menu__group {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .header__section--menu {
    align-self: center;
    width: 60%;
  }
  .wrap {
    padding: 80px 5px;
  }
  .list-group-item {
    padding: 0.3rem 0.25rem !important;
  }
}

.link {
  font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.link:hover {
  text-decoration: none;

  color: rgba(45, 12, 231, 0.918);
}

.content {
  font-family: "Rubik", sans-serif !important;
  font-weight: 600;

  letter-spacing: 0.0625rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .content__home--p {
    width: 22rem;
  }
}

.content__home-h3 {
  margin-bottom: 2rem;
}

.social__cont {
  margin-top: 3rem;
}

.social__icon {
  margin-right: 1rem;
}

.fa_gitHub {
  color: black;
}

.fa_linkedIn {
  color: #0a66c2;
}

.fc_resume {
  margin-bottom: 13px;
}

.contact__form {
  width: 90%;
  margin: auto;
  font-family: "Rubik", sans-serif;
}

.contact__cont {
  width: 75%;
  padding: 30px;
}

.contact__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Rubik", sans-serif !important;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.form__label {
  font-family: "Rubik", sans-serif !important;
  font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.contact_callout {
  font-family: "Rubik", sans-serif !important;
  font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 0.0625rem;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact_callout {
    font-family: "Rubik", sans-serif !important;
    font-weight: 600;
    color: #5e5e5e;
    letter-spacing: 0.0625rem;
    width: 86%;
    margin-bottom: 2rem;
    padding: 10px;
  }

  .contact__form {
    width: 90%;
    margin: auto;
    font-family: "Rubik", sans-serif;
  }

  .contact__cont {
    width: 90%;
    padding: 0px;
  }
}

.projects__cont {
  margin-left: 10px;
}

.projects__h2 {
  font-family: "Rubik", sans-serif !important;
  margin-left: 2rem;
}
.projects__media {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.projects__img {
  margin-top: 5rem;
  margin-left: 0rem;
  transition: all 0.35s ease;
  width: 115%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
}

.projects__img:hover {
  width: 125%;

  /* width: 125%; */
}

.projects__summary {
  padding: 15rem 6rem;
}
